@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 207 43% 95%;
    --foreground: 203 24% 9.8%;
    --card: 0 0% 100%;
    --card-foreground: 203 24% 9.8%;
    --popover: 0 0% 100%;
    --popover-foreground: 203 24% 9.8%;
    --primary: 203 44% 27%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 15 68% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 100%;
    --ring: 203 44% 27%;
    --radius: 0.5rem;
    --chart-1: 203 44% 27%;
    --chart-2: 15 68% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 203 44% 27%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 15 68% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 203 44% 32%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 203 44% 22%;
    --sidebar-ring: 15 68% 62%;
  }

  .dark {
    --background: 203 24% 9.8%;
    --foreground: 0 0% 98%;
    --card: 203 24% 9.8%;
    --card-foreground: 0 0% 98%;
    --popover: 203 24% 9.8%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 203 44% 27%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 15 68% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 15 68% 62%;
    --chart-1: 0 0% 98%;
    --chart-2: 15 68% 62%;
    --sidebar-background: 203 24% 8%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 15 68% 62%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 203 24% 12%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 203 24% 12%;
    --sidebar-ring: 15 68% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
